
.container {
	margin-top: 0; 
}

/* ajuste de estilos de nav*/

.cbp-af-header nav a {
	margin: 0 0 0 10px;
	/*font-size: 1em;*/
}
.cbp-af-header.cbp-af-header-shrink nav a {
	line-height: 50px;
}
#menu li a, #menu li.active a {
	padding: 0; 
}

#menu li {
	background: transparent;
	background: rgba(255,255,255, 0);
	color: rgba(255,255,255, 0);
}
#menu li:hover {
	background: rgba(255,255,255, 0);
}
#menu li a:hover {
	color: rgba(255,255,255, 0.7);
}
	/* estilos active boton */
#menu li.active a {
	color: red;
}
#menu li.active {
	background: rgba(0,0,0,0);
}

/*botones redes */
.redes img {
	height: 30px;
	width: 30px;
	line-height: 30px;
	padding: 5px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
}
.redes img:hover {
	background-color: #3a5795;
}
.plus img:hover {
	background-color: #cd1111;
}
.online img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
	-webkit-transition: all 250ms ease-in-out;
	-moz-transition: all 250ms ease-in-out;
	-o-transition: all 250ms ease-in-out;
	-ms-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	border-left: 1px solid #fff; 
}
.online img:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: gray;
}
/*ajuste txt home*/
.txtimghome {
	margin: 50px auto 0;
	text-align: center;
}
.primeralinea {
	color: rgb(193, 15, 21);
	font-weight: bold;
	font-size: 40px;
	margin-bottom: 0;
}
.sdalinea {
	color: white;
	font-weight: normal;
	font-size: 25px;
}
.tralinea {
	color: white;
	font-weight: lighter;
	line-height: 30px;
	font-size: 30px;
}
}
	/*ajuste txt*/
body {
	color: #000; 
}
/*p {
	font-size: 1.1em;
}*/
.section {
	text-align: left;
}

/*estilos accordion*/
.accordion .accordion-navigation > a, 
.accordion dd > a {
	background: #DEDCDC;
	font-family: 'Open Sans', sans-serif;
}
li.accordion-navigation {
	border-bottom: #999 1px solid;
}
.accordion .accordion-navigation > .content.active, 
.accordion dd > .content.active {
	background: transparent;
}
.servitem01 {
	list-style: square outside url("../img/itconfig.gif");
}
.servitem02 {
	list-style: square outside url("../img/itgest.gif");
}
.servitem03 {
	list-style: square outside url("../img/itlog.gif");
}
.accordion .accordion-navigation.active > a, .accordion dd.active > a {
	background: transparent;
	color: red;
	border-bottom: #999 1px solid;
}
.accordion .accordion-navigation.active > .gestion {
	color: rgb(255, 102, 0);
}
.accordion .accordion-navigation.active > .logist {
	color: rgb(0, 51, 153);
}
/* demo */
.imgdemo p {
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
}
.imgdemo button {
	font-family: 'Open Sans', sans-serif;
	background-color: red;
	font-weight: lighter;
	margin-left: 10px;
}
.imgdemo button:hover {
	background-color: rgb(204, 5, 5);
}
/* necesidad */
.colorfdosecc01 {
	background-color: rgb(91, 91, 91);
}
.pdngespacio {
	padding: 0 60px; 
}
.colorfdosecc01 h2 {
	padding-bottom: 50px;
}
.pdngespacio p, 
.colorfdosecc01 h2,
.pdngespacio h5 {
	color: #fff;
}
.pdngespacio p {
	font-weight: lighter;
	padding: 10px 0;
	border-bottom: #fff 1px dotted;
}
.pdngespacio h5 {
	border-bottom: #fff 1px dotted;
	border-top: #fff 1px dotted;
	padding: 5px 0;
}
.pdngespacio img {
	padding-right: 5px;
} 
/*planes*/

#section2 {
	background: transparent!important;
}
table {
	margin: 10px auto;
	font-family: 'Open Sans', sans-serif;
}
.ttl {
	background-color: #900;
	color: #fff;
	font-weight: lighter;
	font-size: 16px;
	border-bottom: #fff 1px solid;
	padding: 20px;
}
.planes {
	padding: 40px 20px;
	font-size: 20px;
}
.plan {
	background-color: #999;
	color: #fff;
	text-align: center;
	font-weight: normal;
	border-left: #fff 1px solid;
}
.abono {
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	border-left: #fff 1px solid;
}
.abono > span {
	font-size: 14px;
	font-weight: lighter;
}
.instal {
	color: #900;
	border-left: none; 
	background-color: transparent;
}
td {
	background-color: rgb(209, 209, 209);
	border-bottom: #fff 1px solid;
}
.sino {
	padding: 0;
	text-align: center;
}
.ptoaclar {
	font-size: 14px;
	margin-bottom: 0;
}
.ptoaclar span {
	color: #900;
}

/*clientes*/
.cliente {
	padding: 20px 0;
}
.cliente {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}
.cliente:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
	filter: gray;
	cursor: pointer;
}