.container {
	margin-top: 0; 
}

/*#menu li {
	background: transparent; 
}
.cbp-af-header h1 img,
.cbp-af-header #menu {
	display: inline-block;
	position: relative;
}
.cbp-af-header h1 img,
.cbp-af-header #menu a {
	line-height: 230px;
}
.cbp-af-header #menu {
	float: right;
}*/